<div class="food-information">
  <div class="row">
    <div class="col-sm-3">
      <%= image_tag "buncha.jpg", class: "food-image img-responsive" %>
    </div>
    <div class="col-sm-8 food-content">
      <h2 class="food-name">Bún chả Hà Nội</h2>
      <div class="food-link">
        <%= link_to "https://icons8.com/icon/set/upload/ios7", "#", class: "foot-normal-link" %>
        <%= link_to "#", target: "_blank", class: "food-external-link" do %>
          <div class="icon-new-tab">
            <%= image_tag "external-link.svg", class: "external-link-icon" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="food-content">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque at euismod nibh. Sed mollis scelerisque neque, nec vestibulum odio pellentesque ac. Nullam pellentesque consequat quam at convallis. Proin sed ex id massa blandit tincidunt. Sed et dignissim magna. Nam hendrerit elit mi, et tempor massa consequat a. Fusce efficitur ultricies sem vel venenatis</p>
  <p>Aliquam non aliquam mi. Fusce sodales, magna et commodo eleifend, orci lectus volutpat nibh, vitae pretium ante mauris et risus. Nunc blandit mi velit, nec sagittis massa rutrum ac. Sed non sagittis nisl. Duis commodo risus tristique sapien suscipit eleifend. Duis at vestibulum mauris. Suspendisse porta, lectus sagittis gravida aliquet, risus mauris varius nibh, mattis mattis orci erat eget velit. Aenean in justo ac ligula bibendum fringilla non et massa. Vivamus ac sollicitudin leo.</p>
  <p>Nam ultricies diam at enim commodo gravida. Nullam porta vitae nulla sed faucibus. Suspendisse malesuada a diam in ultricies. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer egestas nec nibh quis vehicula. Sed sit amet placerat diam, vitae tincidunt nisi. Ut neque metus, accumsan in nibh eget, ullamcorper scelerisque purus. Sed porta scelerisque nibh, ac placerat nulla volutpat a. Vivamus enim augue, gravida nec lacus eu, aliquam mattis dui. Cras eget ligula tempor, ultrices nibh sit amet, auctor mauris. Donec luctus nisi id hendrerit tristique. Cras vestibulum sapien nec mauris blandit consectetur. Quisque ullamcorper nec dolor quis vulputate. Morbi sodales quam nec ligula tincidunt mollis</p>
  <p>Quisque eleifend ornare dui et viverra. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In hac habitasse platea dictumst. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent at velit et quam ultricies luctus. Mauris dignissim erat eget consectetur fermentum. Pellentesque eget tortor suscipit sem imperdiet vehicula et vel ipsum.</p>
  <p>Sed efficitur eu massa at suscipit. Aenean tincidunt elit sit amet sem mattis lobortis. Donec nibh augue, consectetur nec risus ut, tempor vehicula velit. Donec rutrum magna libero, vitae posuere purus ultrices non. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean erat lorem, placerat a aliquet tincidunt, facilisis eu urna. Sed lacinia nunc eget nisl blandit sagittis. Nulla facilisi. Ut quis libero ac nulla tempor mattis porta ut felis. Vestibulum elementum, augue a auctor imperdiet, orci felis efficitur sapien, at sagittis ex urna et ex.</p>
  <p>In et congue elit, nec sollicitudin eros. Nunc tincidunt condimentum risus, vitae vulputate magna dictum porttitor. Phasellus in enim ut nisl tincidunt viverra. Pellentesque augue dolor, cursus vel cursus id, fermentum et mi. Aliquam consequat enim sit amet arcu egestas convallis. Nulla at lacus ut augue ultricies molestie tempor at arcu. Aliquam dictum mauris non ipsum congue, sit amet pulvinar nibh mollis. Vestibulum placerat, lacus hendrerit pharetra commodo, est ex elementum magna, sed lobortis dolor elit dignissim ligula.</p>
</div>
<div class="redirect-panel text-center">
  <button type="button" class="js--scroll-top no-outline redirect-button button-theme-gray">
    Upload other image
  </button>
  <a href="https://icons8.com/icon/" class="redirect-button button-theme-orange">
    View details
  </a>
</div>
